In [1]:
import nest_asyncio
import twint
import sys
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import download
download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/leonardogavaudan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
nest_asyncio.apply()

%load_ext autoreload
%autoreload 2

sys.path.insert(0, '../green_mood_tracker/')
from twint_class import TWINT
from data_cleaning import clean

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/leonardogavaudan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
!ls

data_cleaning.ipynb twint-test.ipynb

In [4]:
!pwd

/Users/leonardogavaudan/code/leonardogavaudan/green_mood_tracker/notebooks

In [5]:
df = pd.read_csv('../green_mood_tracker/data/sts_gold_tweet.csv', sep=';')
df.head()

           id  polarity                                              tweet
0  1467933112         0  the angel is going to miss the athlete this we...
1  2323395086         0  It looks as though Shaq is getting traded to C...
2  1467968979         0     @clarianne APRIL 9TH ISN'T COMING SOON ENOUGH
3  1990283756         0  drinking a McDonalds coffee and not understand...
4  1988884918         0  So dissapointed Taylor Swift doesnt have a Twi...

In [6]:
clean(df, column='tweet').head()

           id  polarity                                              tweet
0  1467933112         0                   angel going miss athlete weekend
1  2323395086         0  look though shaq getting traded cleveland play...
2  1467968979         0                   april th isnt coming soon enough
3  1990283756         0  drinking mcdonalds coffee understanding someon...
4  1988884918         0           dissapointed taylor swift doesnt twitter