In [1]:
import pandas as pd
import numpy as np

## download data

In [15]:
sts_gold = pd.read_csv('../raw_data/STS_gold.csv',sep=';')
kaggle_sentiment_train = pd.read_csv('../raw_data/kaggle_sentiment_train.csv')
kaggle_sentiment_test = pd.read_csv('../raw_data/kaggle_sentiment_test.csv')

In [33]:
column_names = ['polarity','id','date','query','user','text']

In [34]:
sentiment140 = pd.read_csv('../raw_data/training.1600000.processed.noemoticon.csv',encoding='latin-1',header=None,names=column_names)

## display info

### sts gold

In [16]:
sts_gold.head()

           id  polarity                                              tweet
0  1467933112         0  the angel is going to miss the athlete this we...
1  2323395086         0  It looks as though Shaq is getting traded to C...
2  1467968979         0     @clarianne APRIL 9TH ISN'T COMING SOON ENOUGH
3  1990283756         0  drinking a McDonalds coffee and not understand...
4  1988884918         0  So dissapointed Taylor Swift doesnt have a Twi...

In [17]:
sts_gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2034 entries, 0 to 2033
Data columns (total 3 columns):
id          2034 non-null int64
polarity    2034 non-null int64
tweet       2034 non-null object
dtypes: int64(2), object(1)
memory usage: 47.8+ KB

In [18]:
sts_gold.polarity.value_counts()

0    1402
4     632
Name: polarity, dtype: int64

In [67]:
sts_gold_final = sts_gold[['id','tweet','polarity']].rename(columns={'tweet':'text'})
sts_gold_final['source'] = "sts_gold"

### kaggle sentiment

In [37]:
kaggle_sentiment_train['polarity'] = kaggle_sentiment_train.sentiment.map({'positive':4,'neutral':1,'negative':0})

In [38]:
kaggle_sentiment_train.head()

,textID,text,selected_text,sentiment,polarity
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,1
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,0
2,088c60f138,my boss is bullying me...,bullying me,negative,0
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,0

In [61]:
kaggle_sentiment_train_final = kaggle_sentiment_train[['textID','text','polarity']].rename(columns={'textID':'id'})

In [62]:
kaggle_sentiment_train_final['source'] = "kaggle_sentiment_train"

In [63]:
kaggle_sentiment_train_final.head()

,id,text,polarity,source
0,cb774db0d1,"I`d have responded, if I were going",1,kaggle_sentiment_train
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,0,kaggle_sentiment_train
2,088c60f138,my boss is bullying me...,0,kaggle_sentiment_train
3,9642c003ef,what interview! leave me alone,0,kaggle_sentiment_train
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...",0,kaggle_sentiment_train

In [21]:
kaggle_sentiment_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
textID           27481 non-null object
text             27480 non-null object
selected_text    27480 non-null object
sentiment        27481 non-null object
dtypes: object(4)
memory usage: 858.9+ KB

In [22]:
kaggle_sentiment_train.sentiment.value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [39]:
kaggle_sentiment_test['polarity'] = kaggle_sentiment_test.sentiment.map({'positive':4,'neutral':1,'negative':0})

In [64]:
kaggle_sentiment_test_final = kaggle_sentiment_test[['textID','text','polarity']].rename(columns={'textID':'id'})

In [65]:
kaggle_sentiment_test_final['source'] = "kaggle_sentiment_test"

In [66]:
kaggle_sentiment_test_final.head()

,id,text,polarity,source
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,1,kaggle_sentiment_test
1,96d74cb729,Shanghai is also really exciting (precisely -...,4,kaggle_sentiment_test
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",0,kaggle_sentiment_test
3,01082688c6,happy bday!,4,kaggle_sentiment_test
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,4,kaggle_sentiment_test

### sentiment 140

In [35]:
sentiment140.head()

,polarity,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [71]:
sentiment140_final = sentiment140[['id','text','polarity']]

In [72]:
sentiment140_final['source'] = 'sentiment140'

/Users/henryhall/.pyenv/versions/3.7.7/envs/lewagon-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
sentiment140_final.head()

,id,text,polarity,source
0,1467810369,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,sentiment140
1,1467810672,is upset that he can't update his Facebook by ...,0,sentiment140
2,1467810917,@Kenichan I dived many times for the ball. Man...,0,sentiment140
3,1467811184,my whole body feels itchy and like its on fire,0,sentiment140
4,1467811193,"@nationwideclass no, it's not behaving at all....",0,sentiment140

In [31]:
sentiment140[0].value_counts()

4    800000
0    800000
Name: 0, dtype: int64

In [32]:
sentiment140.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
0    1600000 non-null int64
1    1600000 non-null int64
2    1600000 non-null object
3    1600000 non-null object
4    1600000 non-null object
5    1600000 non-null object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [56]:
sentiment140_final.head()

           id                                               text  polarity
0  1467810369  @switchfoot http://twitpic.com/2y1zl - Awww, t...         0
1  1467810672  is upset that he can't update his Facebook by ...         0
2  1467810917  @Kenichan I dived many times for the ball. Man...         0
3  1467811184    my whole body feels itchy and like its on fire          0
4  1467811193  @nationwideclass no, it's not behaving at all....         0

## concatenate

In [75]:
complete_data = pd.concat([sts_gold_final,kaggle_sentiment_train_final,kaggle_sentiment_test_final,sentiment140_final])

In [78]:
complete_data = complete_data.dropna()

In [79]:
complete_data.head()

,id,text,polarity,source
0,1467933112,the angel is going to miss the athlete this we...,0,sts_gold
1,2323395086,It looks as though Shaq is getting traded to C...,0,sts_gold
2,1467968979,@clarianne APRIL 9TH ISN'T COMING SOON ENOUGH,0,sts_gold
3,1990283756,drinking a McDonalds coffee and not understand...,0,sts_gold
4,1988884918,So dissapointed Taylor Swift doesnt have a Twi...,0,sts_gold

In [80]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1633048 entries, 0 to 1599999
Data columns (total 4 columns):
id          1633048 non-null object
text        1633048 non-null object
polarity    1633048 non-null int64
source      1633048 non-null object
dtypes: int64(1), object(3)
memory usage: 62.3+ MB