# Twint Data Collection

## Import and configs

In [24]:
import nest_asyncio
import twint
import pandas as pd

nest_asyncio.apply()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import sys
sys.path.insert(0, '../green_mood_tracker/')
from twint_class import TWINT

In [26]:
!ls

Henryhall_Dataset_download.ipynb resume.txt
city_Dataset.csv                 twint-test.ipynb
data_cleaning.ipynb

In [27]:
!pwd

/Users/leonardogavaudan/code/leonardogavaudan/green_mood_tracker/notebooks

## General Search Function (without cities)

### search()

In [267]:
kwargs = dict(
        username='EmmanuelMacron',
        search='nuclear',
        since=False,
        cities=False,
        file_path=False,
        limit=100
    )
    
t = TWINT(**kwargs)

df = t.search()

In [260]:
df.head(2)

,cashtags,conversation_id,created_at,date,day,geo,hashtags,hour,id,language,...,trans_src,translate,tweet,urls,user_id,user_id_str,user_rt,user_rt_id,username,video
0,[],1331009579879178241,1.606172e+12,2020-11-23 22:59:47,1,,[],22,1331009579879178241,en,...,,,I spoke with @JacindaArdern. We must work with...,[],1976143068,1976143068,,,EmmanuelMacron,0
2,[],1330587567918632962,1.606072e+12,2020-11-22 19:02:51,7,,[],19,1330587567918632962,en,...,,,The initiatives taken by France are now on the...,[],1976143068,1976143068,,,EmmanuelMacron,1

In [261]:
df.shape

(10, 38)

In [262]:
t.username

'EmmanuelMacron'

In [263]:
df.columns

Index(['cashtags', 'conversation_id', 'created_at', 'date', 'day', 'geo',
       'hashtags', 'hour', 'id', 'language', 'link', 'name', 'near', 'nlikes',
       'nreplies', 'nretweets', 'photos', 'place', 'quote_url', 'reply_to',
       'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate',
       'tweet', 'urls', 'user_id', 'user_id_str', 'user_rt', 'user_rt_id',
       'username', 'video'],
      dtype='object')

### csv()

In [268]:
kwargs = dict(
        username='EmmanuelMacron',
        search='nuclear',
        since=False,
        cities=False,
        file_path='../green_mood_tracker/data/general.csv',
        limit=100
    )
    
t = TWINT(**kwargs)

df = t.csv()

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [269]:
! ls ../green_mood_tracker/data/

city.csv    data.csv.gz general.csv

In [270]:
csv = pd.read_csv('../green_mood_tracker/data/city.csv')

In [272]:
csv.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,id,conversation_id,created_at,date,time,timezone,user_id,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,0,0,1331086262728601607,1331086262728601607,2020-11-24 04:04:30 GMT,2020-11-24,04:04:30,0,1311979276783230976,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1,2,1330887469647138825,1330887469647138825,2020-11-23 14:54:34 GMT,2020-11-23,14:54:34,0,16038443,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,2,3,1330845721512144896,1330845721512144896,2020-11-23 12:08:40 GMT,2020-11-23,12:08:40,0,885125628684632065,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,3,4,1330845706488188928,1330845706488188928,2020-11-23 12:08:37 GMT,2020-11-23,12:08:37,0,272581516,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,4,5,1330820120353103874,1330820120353103874,2020-11-23 10:26:56 GMT,2020-11-23,10:26:56,0,155522617,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [271]:
csv.shape

(336, 39)

## City Search (Most important)

### city_df()

In [194]:
kwargs = dict(
    keywords=['nuclear','green'],
    cities=['London','Paris'],
    since = '2020-11-10 12:00:00',
    store_csv=False,
    limit=200
)

t = TWINT(**kwargs)

df_city = t.city_df()

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [195]:
t.keywords, t.cities, t.since

(['nuclear', 'green'], ['London', 'Paris'], '2020-11-10 12:00:00')

In [206]:
df_city.head(2)

,cashtags,conversation_id,created_at,date,day,geo,hashtags,hour,id,language,...,trans_src,translate,tweet,urls,user_id,user_id_str,user_rt,user_rt_id,username,video
0,[],1331086262728601607,1.606191e+12,2020-11-24 04:04:30,2,,[],04,1331086262728601607,en,...,,,Nuclear power pushed to back burner in U.K.â€™s ...,[https://furtherasia.com/nuclear-power-pushed-...,1311979276783230976,1311979276783230976,,,FurtherAsia,0
1,[],1330887469647138825,1.606143e+12,2020-11-23 14:54:34,1,,"[nuclear, green, industrial, transport, nature...",14,1330887469647138825,en,...,,,CE #Nuclear Group support the 10-point plan &a...,[https://www.pbctoday.co.uk/news/energy-news/g...,16038443,16038443,,,constructingexc,0

In [192]:
df_city.shape

(84, 38)

In [193]:
df_city['tweet'].iloc[3]

'Nuclear power: what the â€˜green industrial revolutionâ€™ means for the next three waves of\xa0reactors  https://t.co/pMWZ6YZM9d'

In [187]:
df_city.columns

Index(['cashtags', 'conversation_id', 'created_at', 'date', 'day', 'geo',
       'hashtags', 'hour', 'id', 'language', 'link', 'name', 'near', 'nlikes',
       'nreplies', 'nretweets', 'photos', 'place', 'quote_url', 'reply_to',
       'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate',
       'tweet', 'urls', 'user_id', 'user_id_str', 'user_rt', 'user_rt_id',
       'username', 'video'],
      dtype='object')

### city_csv()

In [362]:
kwargs = dict(
    keywords=['nuclear','green'],
    cities=['London','Paris'],
    since = '2020-11-10 12:00:00',
    limit=200,
    file_path='../green_mood_tracker/data/city.csv'
)

t = TWINT(**kwargs)

df_city = t.city_csv()

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
Index(['id', 'conversation_id'], dtype='object')

In [363]:
! ls ../green_mood_tracker/data/

city.csv    data.csv.gz general.csv

In [364]:
csv = pd.read_csv('../green_mood_tracker/data/city.csv')

In [365]:
csv.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1331086262728601607,1331086262728601607,2020-11-24 04:04:30 GMT,2020-11-24,04:04:30,0,1.311979e+18,furtherasia,FurtherAsia,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1330887469647138825,1330887469647138825,2020-11-23 14:54:34 GMT,2020-11-23,14:54:34,0,1.603844e+07,constructingexc,Constructing Excellence,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1330845721512144896,1330845721512144896,2020-11-23 12:08:40 GMT,2020-11-23,12:08:40,0,8.851256e+17,gam3rpunk,hasan dervish,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1330845706488188928,1330845706488188928,2020-11-23 12:08:37 GMT,2020-11-23,12:08:37,0,2.725815e+08,nathanmcgrathsf,ThatNanopunkGuy,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1330820120353103874,1330820120353103874,2020-11-23 10:26:56 GMT,2020-11-23,10:26:56,0,1.555226e+08,ukerchq,UKERC,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [366]:
csv.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [367]:
csv.shape

(756, 36)

In [243]:
csv['language'].unique()

array(['en'], dtype=object)

In [240]:
csv['tweet'].iloc[1]

"CE #Nuclear Group support the 10-point plan &amp; Â£12bn Gov't investment into a #Green #Industrial Revolution. #Transport #nature #innovative #technologies &amp;clean #energy source across large scale nuclear and next gen of small &amp; advanced #reactors+10,000 jobs!  https://t.co/YuVbRkRb6w"